@use 'sass:math';

$vp-small: 560px;
$vp-large: 1920px;

@mixin fluid-font-size($minFontSize, $maxFontSize, $minViewport, $maxViewport) {
  $slope: math.div($maxFontSize - $minFontSize, $maxViewport - $minViewport);
  $intercept: $minFontSize - $slope * $minViewport;

  font-size: clamp(
    #{$minFontSize},
    calc(#{$intercept} + #{$slope} * 100vw),
    #{$maxFontSize}
  );
}

// Mixin for fluid line-height using CSS clamp and math.div
@mixin fluid-line-height($minLineHeight, $maxLineHeight, $minViewport, $maxViewport) {
  $slope: math.div($maxLineHeight - $minLineHeight, $maxViewport - $minViewport);
  $intercept: $minLineHeight - $slope * $minViewport;

  line-height: clamp(
    #{$minLineHeight},
    calc(#{$intercept} + #{$slope} * 100vw),
    #{$maxLineHeight}
  );
}

// Mixin for fluid bottom using CSS clamp and math.div
@mixin fluid-bottom($minBottom, $maxBottom, $minViewport, $maxViewport) {
  $slope: math.div($maxBottom - $minBottom, $maxViewport - $minViewport);
  $intercept: $minBottom - $slope * $minViewport;

  bottom: clamp(
    #{$minBottom},
    calc(#{$intercept} + #{$slope} * 100vw),
    #{$maxBottom}
  );
}

